<!-- side menu -->
<ul id="slide-out" class="side-nav fixed leftside-navigation grey lighten-3 z-depth-2">
    <li>
        <li>
            <div class="user-view user-view-hm">
                <div class="name center">
                    <h5 class="header">Admin-Panel</h5>
                </div>
            </div>
        </li>
    </li>
    <div class="divider"></div>
    
    <li class="{{active.sim}}"><a class="collapsible-header waves-effect waves-cyan" href="/admin_sim"><i class="mdi-action-help"></i>Simulation Store</a></li>
    <li class="{{active.quiz}}"><a class="collapsible-header waves-effect waves-cyan" href="/admin_quiz"><i class="mdi-editor-insert-chart"></i>Quiz Store</a></li>
    <li class="{{active.acc}}"><a class="collapsible-header waves-effect waves-cyan" href="/admin_acc"><i class="mdi-editor-insert-chart"></i>Account</a></li>
    <li ><a class="collapsible-header waves-effect waves-cyan" href="/index"><i class="mdi-editor-insert-chart"></i>Return To HOME</a></li>

</ul>
<a href="#" data-activates="slide-out" class="button-collapse"></a>
<!-- side menu end -->
</aside>