
</body>

			


	<!-- jQuery Library -->
	<script type="text/javascript" src="libs/js/plugins/jquery-1.11.2.min.js"></script>    
	<!--materialize js-->
	<script type="text/javascript" src="libs/js/materialize.min.js"></script>

	<!--scrollbar-->
	<script type="text/javascript" src="libs/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="libs/js/script.js"></script>


    <!--sweetalert -->
    <script type="text/javascript" src="libs/js/plugins/sweetalert/sweetalert.min.js"></script>

</html>