<html>
    <head>

        <link rel="stylesheet" href="libs/css/materialize.css">
        <link rel="stylesheet" href="libs/js/plugins/perfect-scrollbar/perfect-scrollbar.css">
        <link rel="stylesheet" href="libs/js/plugins/sweetalert/sweetalert.css">
        <link rel="stylesheet" href="libs/js/plugins/dropify/dropify.css">
        <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css"   />
        <link rel="stylesheet" href="libs/css/style.css">

        <title>hoha</title>
    </head>


    <body>

            <header id="header"  class="page-topbar">
                    <div class="navbar-fixed">
                        <style>
                            .brand-logo{
                                height: 60px;
                            }
                        </style>

                        <nav role="navigation" class="light-blue">
                            <div class="nav-wrapper">
                                <ul class="left">
                                  <li><h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="assets/img/logo.png" id="logo"></a> </h1></li>
                                </ul>

                                <ul id="nav-mobile" class="right">
                                    <li><input type="text" name="search" class="header-search-input" placeholder="Search AskluaLabs"></li>
                                    <li><a href="#"><i class="mdi-content-remove"></i></a></li>
                                    <li><a href="#" class="btn-close"><i class="mdi-navigation-cancel"></i></a></li>

                                </ul>

                            </div>
                        </nav>
                    </div>
                </header>
