<html>
    <head>
        {{#each statics.style}}
        <link rel="stylesheet" href="{{this}}">
        {{/each}}
        <title>AskuaLabs-Core</title>
    </head>


    <body>

            <header id="header"  class="page-topbar">
                    <div class="navbar-fixed">
                        <style>
                            .brand-logo{
                                height: 60px;
                            }
                        </style>

                        <nav role="navigation" class="light-blue">
                            <div class="nav-wrapper">
                                <ul class="left">
                                  <li><h1 class="logo-wrapper"><a href="/index" class="brand-logo darken-1"><img src="assets/img/logo.png" id="logo"></a> </h1></li>
                                </ul>

                                <ul id="nav-mobile" class="right">
                                    <li><input type="text" name="search" class="header-search-input" placeholder="Search AskluaLabs"></li>
                                    <li><a href="#"><i class="mdi-content-remove"></i></a></li>
                                    <li><a href="#" class="btn-close"><i class="mdi-navigation-cancel"></i></a></li>

                                </ul>

                            </div>
                        </nav>
                    </div>
                </header>
