
<aside id="left-sidebar-nav"></aside>
<ul id="slide-out" class="side-nav fixed leftside-navigation grey lighten-3 z-depth-2">
		<li>
			<div class="user-view {{class}}">

				<div class="name center">
					<h5 class="header">{{welcome}}</h5>
				</div>
			</div>
		</li>
		<li class="active"><a class="collapsible-header waves-effect waves-cyan" href="http://localhost:8081/index.html"><i class="mdi-action-home"></i>Home</a></li>
			<div class="divider"></div>
			<li><a class="subhader"><i>	Simulations	</i></a></li>

		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li>
					<a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-file-folder"></i>Grade 9</a>
					<div class="collapsible-body">
						<ul>
							<li><a href="9phy" class="waves-effect">Physics</a></li>
							<li><a href="9che" class="waves-effect">Chemistry</a></li>
							<li><a href="9bio" class="waves-effect">Biology</a></li>
						</ul>

					</div>
				</li>


				<li>
					<a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-file-folder"></i>Grade 10</a>
					<div class="collapsible-body">
						<ul>
								<li><a href="10phy" class="waves-effect">Physics</a></li>
								<li><a href="10che" class="waves-effect">Chemistry</a></li>
								<li><a href="10bio" class="waves-effect">Biology</a></li>
						</ul>
					</div>
				</li>


			<div class="divider"></div>
			<li class="bold"><a class="subhader"><i>More	</i></a></li>


			<li class="active"><a class="collapsible-header waves-effect waves-cyan" href="http://localhost:8081/help"><i class="mdi-action-help"></i>Help</a></li>
			<li class="active"><a class="collapsible-header waves-effect waves-cyan" href="http://localhost:8081/about"><i class="mdi-action-info"></i>About</a></li>

			<div class="divider"></div>
			<li class="bold"><a class="subhader"><i>User	</i></a></li>
			<li class="active"><a class="collapsible-header waves-effect waves-cyan" href="http://localhost:8081/quiz"><i class="mdi-action-help"></i>Quiz</a></li>
			<li class="active"><a class="collapsible-header waves-effect waves-cyan" href="http://localhost:8081/admin"><i class="mdi-action-help"></i>Admin</a></li>
			</ul>
		</li>
	</ul>


	<a href="#" data-activates="slide-out" class="button-collapse"></a>
	<!-- side menu end -->
	</aside>
