<html>
<head>
<style>
     html,body{
        padding: 0;
        margin: 0;
    }
</style>
    <script src="../../libs/js/phaser.min.js"></script>
    <script src="../../libs/js/snippets.js"></script>
    <script src="../../assets/js/controllers.js"></script>
    <script src="../../assets/js/periodicTable.js"></script>
    
    
</head>
<body id="simulationField">
    <!--script type="text/javascript">
    var xxxxxxxx= 'ss';
    if(isNaN()){
        console.log("ssss");
    }
    var hoho = function(){
        window.print();
    }
    var hh = function(){
        console.log(window);
    }
    var h = function(){
        window.history.back();
    }
    </script-->

    <script src="simulation.js" id="hhh"></script>
    <script src="../../assets/js/brand.js" ></script>
    <script type="text/javascript">
        var v =document.getElementById('hhh');
        console.log("vvv",v);
        /*console.log("-----------------");
        
        var ss = [2,3,8,4];
        function isBig(elt){
            return elt>3;
        }
        var b = ss.find(isBig);
        var c = ss.findIndex(function (elt){
                                return elt==9;
                            });
        //var d = ss.prototype.includes(8);
        //delete ss[c];
        // Array Remove - By John Resig
        Array.prototype.remove = function(from,to){
            var rest = this.slice(parseInt(to||from)+1||this.length);
            this.length = from  < 0 ? this.length + from : from;
            return this.push.apply(this,rest); 
        }
        ss.remove(2);
        ss.remove(0);
        console.log(c,"-----------------");
        */
        /*
        var e = 2;
        var dd = "rrrr";
        var rrrr = 5;
        if(eval(dd)==5){
            var o = eval(dd);
            o++;
            console.log(typeof(eval(dd)),"||||");
            console.log("-0-0-0-0-0-0-",o);
        }
        console.log(eval(dd),"==");
        */

        /*
        console.log(periodicTable,"==");
        var e = periodicTable.searchByMassNumber(15.999);
        console.log(e);
        var s = parseInt(Math.random()*100);
        console.log(s,Math.random(),Math.random());
        */
    </script>
    
</body>
</html>












