{{> header}}

<div class="wrapper">
		<!-- side menu -->
		{{> leftmenu}}
	<main class="grey lighten-4">
			
		<div class="card-panel z-depth-0 al-card transparent">
			<div class="card-panel z-depth-0 grey lighten-5">
				
				<div class="row">
				<div class="col m12 l12 grid">

						<figure class="effect-zoe">
		                    <img src="../../assets/img/lababout.jpg" class="responsive-img" />
		                    <figcaption>
		                      <h2>Askua<span>Labs</span></h2>
		                   
		                      <p class="description">AskuaLabs is a vertual laboratory that enables you to perform labratory tasks in interactive and engaging way. </p>
		                    </figcaption>

		                </figure>  

					</div>
					<div class="col m12 l12">
						<h4 class="flow-text">
							About Askualabs
						</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					
					<div class="col m12 l12">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>AskuaLabs is designed and developed by the great minds at <a href="https://wwww.dekiksoft.com">DekikSoft</a>.</p>
					</div>
				</div>
				
				  
				
			</div>
		</div>
		
	</main>
</div>

		
	
{{> footer}}