{{>header}}


<!-- side menu -->
<ul id="slide-out" class="side-nav fixed leftside-navigation grey lighten-3 z-depth-2">
<li>
    <li>
        <div class="user-view user-view-hm">
            <div class="name center">
                <h5 class="header">Admin-Panel</h5>
            </div>
        </div>
    </li>
</li>
<div class="divider"></div>
    
<li><a class="collapsible-header waves-effect waves-cyan" href="admin_sim"><i class="mdi-editor-insert-chart"></i>Simulation Store</a></li>
<li><a class="collapsible-header waves-effect waves-cyan" href="admin_quiz"><i class="mdi-editor-insert-chart"></i>Quiz Store</a></li>
<li class="active"><a class="collapsible-header waves-effect waves-cyan" href="#"><i class="mdi-action-help"></i>Account</a></li>
<li><a class="collapsible-header waves-effect waves-cyan" href="/index.html"><i class="mdi-editor-insert-chart"></i>Return To HOME</a></li>

    

</ul>

<a href="#" data-activates="slide-out" class="button-collapse"></a>	
<!-- side menu end -->
</aside>


<main class=" grey lighten-4">
<div class="card-panel transparent z-depth-0 no-margin">
    <div class="card-panel z-depth-0 grey lighten-5">
        <div class="row">
            <div class="col m6 l6">
                <p class="flow-text no-margin">Account Detail</p>
            </div>
            <div class="col m6 l6 modal-fixed-footer">
                <button class="btn waves-effect right"><i class="mdi-content-add right"></i>Add Quiz</button> 
            </div>
        </div>
        <div class="divider"></div>
        <table class="striped ">
            <thead>
              <tr>
                <th data-field="id">Title</th>
                <th data-field="name" class="right">Action(Export, Delete)</th>
               
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Quiz 1</td>
                <td class="right">
                    <button class="btn col s6 green waves-effect lighten-2"><i class="mdi-file-file-upload"></i></button>

                    
                    <button class="btn col s6 red waves-effect lighten-2"><i class="mdi-action-delete"></i></button>
                    
                </td>
                
              </tr>
              <tr>
                <td>Quiz 2</td>
                <td class="right">
                    <button class="btn col s6 green waves-effect lighten-2"><i class="mdi-file-file-upload"></i></button>

                    <button class="btn col s6 red waves-effect lighten-2"><i class="mdi-action-delete"></i></button>
                    
                </td>
           
              </tr>
              <tr>
                <td>Quiz 3</td>
                <td class="right">
                    <button class="btn col s6 green waves-effect lighten-2"><i class="mdi-file-file-upload"></i></button>

                    <button class="btn col s6 red waves-effect lighten-2"><i class="mdi-action-delete"></i></button>
                    
                </td>
                
              </tr>
            </tbody>
          </table>

          <div id="mainQ">
              
          </div>






        
    </div>
</div>
</main>
</body>

<!-- jQuery Library -->
<script type="text/javascript" src="libs/js/plugins/jquery-1.11.2.min.js"></script>    
<!--materialize js-->
<script type="text/javascript" src="libs/js/materialize.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="libs/js/materialize.min.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="libs/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="libs/js/script.js"></script>
<!--sweetalert -->
<script type="text/javascript" src="libs/js/plugins/sweetalert/sweetalert.min.js"></script>
</html>