{{> header}}


<div class="wrapper">
	<!-- side menu -->
	{{> leftmenu}}


<aside>
	<main class="grey lighten-4">
		<div class="card-panel transparent z-depth-0 al-card">
			<section id="mulu" class="">
				<div class="card-panel transparent z-depth-0" style="padding-left: 0px;padding-right: 0px;">
					<div class="row">
						<div class="col m4 l4 ">
							<div class="hide" id="oneX">
								<div class="card-image waves-effect waves-block waves-light">
									<a href="#" id="one2"><img src="" alt="blog-img" id="oneImg">
									</a>
								</div>
								<div class="card-content">
									<a href="#" class="grey-text text-darken-4" id="one">
										Title Goes Here</a>
								</div>
							</div>
						</div>
						<div class="col m4 l4 ">
							<div class="hide" id="twoX">
								<div class="card-image waves-effect waves-block waves-light">
									<a href="#" id="two2"><img src="" alt="blog-img" id="twoImg">
										</a>
								</div>
								<div class="card-content">
									<a href="#" class="grey-text text-darken-4" id="two">
											Title Goes Here</a>
								</div>
							</div>
						</div>
						<div class="col m4 l4 ">
							<div class="hide" id="threeX">
								<div class="card-image waves-effect waves-block waves-light">
									<a href="#" id="three2"><img src="" alt="blog-img" id="threeImg">
										</a>
								</div>
								<div class="card-content">
									<a href="#" class="grey-text text-darken-4" id="three">
											Title Goes Here</a>
								</div>
							</div>
						</div>
					</div>  
				</div>
			</section>
	</main>		
</aside>
</div>
		
  
{{> explfooter}}