{{> header}}

<div class="wrapper">
		<!-- side menu -->
		{{> leftmenu}}


	<main class="grey lighten-4">
		<div class="card-panel al-card transparent z-depth-0">
			<div class="card-panel z-depth-0 grey lighten-5">
				<h3 class="flow-text">Help</h3>
				<p>Askualabs Version 0.1</p>
				<div class="divider"></div>
				<br>
				<br>
				<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
					<li>
						<div class="collapsible-header active light-blue accent-2 white-text">How to open a simulation?</div>
						<div class="collapsible-body light-blue lighten-4">
							<ul>
								<li>Step 1: Select your grade from the side navigation</li>
								<li>Step 2: Select your subject you want to open</li>
								<li>Step 3: Again, select unit </li>
								<li>Step 4: From the simulation listed select the one you wanted to open </li>
								<li>Step 5: Click on the blue play button to get into the simualtion</li>
								
							</ul>
						</div>
					</li>
					<li>
						<div class="collapsible-header light-blue accent-2 white-text">How to open a challenge</div>
						<div class="collapsible-body light-blue lighten-4">
							<ul>
								<li>Step 1: Select your grade from the side navigation</li>
								<li>Step 2: Select your subject you want to open</li>
								<li>Step 3: Again, select unit </li>
								<li>Step 4: From the simulation listed select the one you wanted to open </li>
								<li>Step 5: Click on the blue play button to get into the simualtion</li>
								
							</ul>
						</div>
					</li>
					<li>
						<div class="collapsible-header light-blue accent-2 white-text">How to use controllers</div>
						<div class="collapsible-body light-blue lighten-4">
							<ul>
								<li>Step 1: Select your grade from the side navigation</li>
								<li>Step 2: Select your subject you want to open</li>
								<li>Step 3: Again, select unit </li>
								<li>Step 4: From the simulation listed select the one you wanted to open </li>
								<li>Step 5: Click on the blue play button to get into the simualtion</li>
								
							</ul>
						</div>

					</li>
					<li>
						<div class="collapsible-header light-blue accent-2 white-text">How to use controllers</div>
						<div class="collapsible-body light-blue lighten-4">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</li>
				</ul>
				
				
				

			</div>
		</div>
	</main>
</div>



{{> footer}}