{{> header}}


<div class="wrapper">
	<!-- side menu -->
	{{> leftmenu}}

	

	<main class="grey lighten-4">
		
		<div class="card-panel z-depth-0 al-card transparent">
			<div class="slider ">
				<ul class="slides">
					<li>
						<img src="" id="slider1">
						<div class="caption right-align">
							<h3>Experience Magic</h3>
							<h5>this bla bla bla</h5>
						</div>
					</li>
					<li>
						<img src="" id="slider2">
						<div class="caption right-align">
							<h3>Experience Magic</h3>
							<h5>this bla bla bla</h5>
						</div>
					</li>
					<li>
						<img src="" id="slider3">
						<div class="caption right-align">
							<h3>Experience Magic</h3>
							<h5>this bla bla bla</h5>
						</div>
					</li>
					<li>
						<img src="" id="slider4">
						<div class="caption right-align">
							<h3>Experience Magic</h3>
							<h5 class="grey-text text-light">this bla bla bla</h5>
						</div>
					</li>
				</ul>

			</div>
			
		</div>

		
		<div class="card-panel z-depth-0 al-bottom-card transparent">
			<div class="row">
				<div class="card-panel col m4 l4 light-blue accent-2  al-pad">
					<h5 class="center-align white-text"><i class="mdi-action-info medium"></i></h5>
					<h4 class="white-text center-align">About</h4>
					<p class="center-align">AskuaLabs offer students a greate way to learn AskuaLabs offer students a greate way to learn ...</p>
					<div class="card-action center-align">
						<a href="about" class="btn white waves-effect waves-yellow grey-text">What is it</a>
					</div>
				</div>
				<div class="card-panel col m4 l4 purple accent-2 z-depth-3    al-pad">
					<h5 class="center-align white-text"><i class="mdi-av-play-circle-fill medium"></i></h5>
					<h4 class="white-text center-align">Simulations</h4>
					<p class="center-align">AskuaLabs offer students a greate way to learn AskuaLabs offer students a greate way to learn ...</p>
					<div class="card-action center-align">
						<a href="explore" class="btn white waves-effect waves-yellow grey-text">Explore</a>
					</div>
				</div>
				<div class="card-panel col m4 l4 orange accent-2    al-pad">
				<h5 class="center-align white-text"><i class="mdi-action-help medium"></i></h5>
					<h4 class="white-text center-align">Help</h4>
					<p class="center-align">AskuaLabs offer students a greate way to learn AskuaLabs offer students a greate wayy to learn ...</p>
					<div class="card-action center-align">
						<a href="help" class="btn white waves-effect waves-yellow grey-text">Got to help</a>
					</div>
				</div>
				
			</div>
		</div>

	</main>
</div>

		<script type="text/javascript">
	//document.getElementById('simpleLogo').src="assets/img/simpleLogo.png";

	// SLIDER
	document.getElementById('slider1').src="assets/img/brand/11.png";
	document.getElementById('slider2').src="assets/img/brand/22.png";
	document.getElementById('slider3').src="assets/img/brand/33.png";
	document.getElementById('slider4').src="assets/img/brand/44.png";

	//ROW
	function row(b){
		console.log(b);
	}
	</script>
	
	{{> footer}}