





<form ref='uploadForm' 
id='uploadForm' 
action='http://localhost:8081/upup' 
method='post' 
encType="multipart/form-data">
  <input type="file" name="sampleFile" />
  <input type='submit' value='Upload!' />
</form>  



<br><br>
<form id="uploadForm" enctype="multipart/form-data" method="post">
    <input type="file" name="userFile" />
    <input type="submit" value="Upload File" name="submit">
</form>


<!--form action="/upload" method="POST" enctype="multipart/form-data">
    Select an image to upload:
    <input type="file" name="image"> 
    <input type="submit" value="Upload Image">
  </form-->
  
    <br>
    <br>
    <br>
    
<form action = "http://127.0.0.1:8081/isubject7" method = "GET">
    title:  
    <textarea name="sim">
    </textarea> 
    <input type = "submit" value = "Submit">
 </form>

<h1>oioioioioioioi</h1>
<form action = "http://127.0.0.1:8081/isubject3" method = "GET">
   title: <input type = "text" name = "title">  
   grade: <input type = "number" name = "grade"><br>
   subject: <input type = "text" name = "subject">  
   unit: <input type = "text" name = "unit"><br>
   pic: <input type = "text" name = "pic">  
   description: <input type = "text" name = "description"><br>
   theory: <input type = "text" name = "theory">  
   <input type = "submit" value = "Submit">
</form>


<br><br><br><br><br>








       <form action = "http://127.0.0.1:8081/isubject" method = "GET">
        First Name: <input type = "text" name = "name">  <br>
        Last Name: <input type = "number" name = "grade">
        <input type = "submit" value = "Submit">
     </form>
     <h1>hiiiii</h1>
     <form action = "http://127.0.0.1:8081/isubject2" method = "GET">
        subj: <input type = "text" name = "name">  
        grade: <input type = "number" name = "grade"><br>
        unit: <input type = "number" name = "unit">  
        title: <input type = "text" name = "title"><br>
        <input type = "submit" value = "Submit">
     </form>
       


<!-- h1> Blah</h1>
       {{#each data}}
            <p>
                <a href="/article/{{id}}">{{first_name}}</a><br/>
                Published: {{last_name}}
            </p>
        {{/each}}
   

    </body>
 </html-->
