{{> header}}


<form action = "http://127.0.0.1:8081/qq" method = "GET">
    Name: <input type = "text" name = "name">  
    grade: <input type = "number" name = "grade">
    password: <input type = "password" name = "password">
    Confirm password: <input type = "password" name = "password2">  
    Roll No: <input type = "text" name = "rollno">
    Section: <input type = "text" name = "section">  
 
    <input type = "submit" class="notification-button btn" value = "NextQ">
    <input type = "submit" class="notification-button btn" value = "Submit">
 </form>


{{> footer}}