<html>
        <style>
            html,body{
                padding: 0;
                margin: 0;
            }
        </style>
        <head>
            <script src="libs/js/phaser.min.js"></script>
            <script src="libs/js/snippets.js"></script>
            <script src="assets/js/controllers.js"></script>
            <script src="assets/js/periodicTable.js"></script>
        </head>
        <body id="simulationField">
            <script src="sims/{{link}}" ></script>
            <script src="assets/js/brand.js" ></script>
        </body>
</html>
        
        
        
        
        
        
        
        
        
        
        
        
        