{{> header}}


<div class="wrapper">
	<!-- side menu -->
	{{> leftmenu}}


<aside>
	<main class="grey lighten-4">
		<div class="card-panel transparent z-depth-0 al-card">
			<div class="card-panel z-depth-1 {{selectClass}}" style="margin-top: 0px;">
				<h3 class="flow-text header">{{welcome}} Simulations</h3>
				<label class="test">Select unit</label>
				<div class="input-field">
					<select class="units">
							{{#each data}}
							{{#each units}}
						<option value={{unit}}>Unit {{unit}}: {{title}}</option>
						{{/each}}
						{{/each}}
					</select>
				</div>
			</div>

			 	<!-- Simulations of units -->
			<section id="mulu" class="">
				<div class="card-panel transparent z-depth-0" style="padding-left: 0px;padding-right: 0px;">
					<div class="row">
						<!--One -->
						<div class="col m4 l4 ">
							<div class="hide" id="oneX">
								<div class="card-image waves-effect waves-block waves-light">
									<a href="#" id="one2"><img src="" alt="blog-img" id="oneImg">
									</a>
								</div>
								<div class="card-content">
									<a href="#" class="grey-text text-darken-4" id="one">
										Title Goes Here</a>
								</div>
							</div>
						</div>
						<!--Two -->
						<div class="col m4 l4 ">
							<div class="hide" id="twoX">
								<div class="card-image waves-effect waves-block waves-light">
									<a href="#" id="two2"><img src="" alt="blog-img" id="twoImg">
										</a>
								</div>
								<div class="card-content">
									<a href="#" class="grey-text text-darken-4" id="two">
											Title Goes Here</a>
								</div>
							</div>
						</div>
						<!--Three -->
						<div class="col m4 l4 ">
							<div class="hide" id="threeX">
								<div class="card-image waves-effect waves-block waves-light">
									<a href="#" id="three2"><img src="" alt="blog-img" id="threeImg">
										</a>
								</div>
								<div class="card-content">
									<a href="#" class="grey-text text-darken-4" id="three">
											Title Goes Here</a>
								</div>
							</div>
						</div>
						<!--Four -->
						<div class="col m4 l4 ">
							<div class="hide" id="fourX">
								<div class="card-image waves-effect waves-block waves-light">
									<a href="#" id="four2"><img src="" alt="blog-img" id="fourImg">
										</a>
								</div>
								<div class="card-content">
									<a href="#" class="grey-text text-darken-4" id="four">
											Title Goes Here</a>
								</div>
							</div>
						</div>
						<!--Five -->
						<div class="col m4 l4 ">
							<div class="hide" id="fiveX">
								<div class="card-image waves-effect waves-block waves-light">
									<a href="#" id="five2"><img src="" alt="blog-img" id="fiveImg">
										</a>
								</div>
								<div class="card-content">
									<a href="#" class="grey-text text-darken-4" id="five">
											Title Goes Here</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
	</main>
</aside>
</div>

{{> scripts}}
<script>
	var decodedJson = decodeURIComponent("{{{simss}}}");
	eval("var now ='{{now}}';");
	console.log(decodedJson);
    var jsonObj = JSON.parse(decodedJson);
    var arr = ['one','two','three','four','five','six','seven','eight','nine','ten'];



    changeUnit(1);

    $('.units').change(function(){
        var unit = $(this).val();
        changeUnit(unit);
    });

    function changeUnit(u){
        var thisArr = jsonObj.filter(function(elt){
            return elt.unit == u+"";
            });
        console.log("Doom BOom",thisArr);
        for(var i=0;i<thisArr.length;i++){
            $("#"+arr[i]+"X").removeClass();
            $("#"+arr[i]+"X").addClass('card amber accent-2');
            document.getElementById(arr[i]+"").innerHTML 	= thisArr[i].title;
            //document.getElementById(arr[i]+"").href 		= "sim/"+thisArr[i]._id;
            //document.getElementById(arr[i]+"2").href 		= "sim/"+thisArr[i]._id;
            document.getElementById(arr[i]+"").href 		= "/"+now+"/"+thisArr[i]._id;
            document.getElementById(arr[i]+"2").href 		= "/"+now+"/"+thisArr[i]._id;
            document.getElementById(arr[i]+"Img").src 		= thisArr[i].pic;
            document.getElementById(arr[i]+"Img").alt 		= thisArr[i].title;
        }
        for(var i=thisArr.length;i<10;i++){
            $("#"+arr[i]+"X").removeClass();
            $("#"+arr[i]+"X").addClass('hide');
        }
    }
</script>
{{> footer}}
