<html>
<head>

    <script src="../../libs/js/phaser.min.js"></script>
    <script src="../../libs/js/snippets.js"></script>
    <script src="../../assets/js/controllers.js"></script>
    
    
</head>
<body id="simulationField">
    <!--script type="text/javascript">
    var xxxxxxxx= 'ss';
    if(isNaN()){
        console.log("ssss");
    }
    var hoho = function(){
        window.print();
    }
    var hh = function(){
        console.log(window);
    }
    var h = function(){
        window.history.back();
    }
    </script-->

    <script src="simulation.js"></script>
    <script src="../../assets/js/brand.js"></script>
    <script type="text/javascript">
        /*console.log("-----------------");
        
        var ss = [2,3,8,4];
        function isBig(elt){
            return elt>3;
        }
        var b = ss.find(isBig);
        var c = ss.findIndex(function (elt){
                                return elt==9;
                            });
        //var d = ss.prototype.includes(8);
        //delete ss[c];
        // Array Remove - By John Resig
        Array.prototype.remove = function(from,to){
            var rest = this.slice(parseInt(to||from)+1||this.length);
            this.length = from  < 0 ? this.length + from : from;
            return this.push.apply(this,rest); 
        }
        ss.remove(2);
        ss.remove(0);
        console.log(c,"-----------------");
        */
    </script>
    
</body>
</html>












